
    <div class="item item-divider" ng-hide="project.projectTypeName == null">
         <p>{{project.projectTypeName}} <a href="#" class="projects-item-more">更多</a></p>
     </div>
 
    <a class="item item-text-wrap" href="#/projectDetail/{{project.projectID}}">
        <h2>{{project.projectName}}</h2>{{$data}}
        <div class="row">
            <div class="col col-30">
                <span class="projects-item-bigText">{{project.projectRate}}</span> %
                </br>
                <span class="projects-item-smallText">预期年化收益</span>
            </div>
            <div class="col col-30">
                <span class="projects-item-bigText">{{project.projectPeriod}}</span>个月
                </br>
                <span class="projects-item-smallText">期限</span>
            </div>
            <div class="projects-item-picccol col-30 ">
                <button class="button button-outline button-positive">马上赚钱</button>
            </div>
        </div>
        <progress-b ng-attr-value="project.projectPercent"></progress-b>
    </a>
    <a class="item item-divider" href="#/tab/projects/{{project.projectID}}">
        <i class="icon ion-social-usd"></i>{{project.projectMinNum}}元起投
        <span class="projects-item-picc"> <i class="icon ion-locked"></i>由PICC承保</span>
    </a>
  