<ion-view view-title="支付">
  <ion-content >
     
 
    <ul class=" list-group">
    <li class="list-group-item">
        <span >  账户余额</span><span class="projects-item-picc">{{projectInsure.balance}}元</span>
        </li>
<li class="list-group-item">
        <span > 优惠劵</span><span class="projects-item-picc">{{projectInsure.amountBalance }}</span>
        </li>
        
      </ul>
      <ul class="list-group">
<li class=" list-group-item">
        <span >  投资金额</span><span class="projects-item-picc">{{projectInsure. loanRate}}元</span>
        </li>
        
<li class="list-group-item">
        <span >  优惠劵使用</span><span class="projects-item-picc">{{projectInsure. loanRate}}元</span>
        </li>
          
          <li class="list-group-item">
        <span >  账户支付</span><span class="projects-item-picc">{{projectInsure. loanRate}}元</span>
        </li>
</ul>

<div class="tableview-footer">
    <a class="button button-block button-assertive" >马上支付</a>
    <label style="text-align: center;display: block;">投资一个月以上债权可转让</label>
    <a style="text-align: center;display: block;" href="">转让规则</a>
</div>
  </ion-content>
</ion-view>