<ion-view view-title="test">
  <ion-content>
      <ion-refresher
    pulling-text="下拉刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>
 <ion-slide-box class="col">
  <ion-slide class="animate-repeat" ng-repeat="imagePath in banners">
       <img  class="col" ng-src="{{imagePath}}">
     
  </ion-slide>
  
</ion-slide-box>

 
  <ion-list>
          <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
    </div>
   
  </ion-list>
      
  </ion-content>
</ion-view>