<ion-view view-title="test">
  <ion-content>
      <ion-refresher
    pulling-text="下拉刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>
 <ion-slide-box>
  <ion-slide>
    <div class="home-banner"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="home-banner"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide on-slide-changed="slideHasChanged(index)">
    <div class="home-banner"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>

 
  <ion-list>
          <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
    </div>
   
  </ion-list>
      
  </ion-content>
</ion-view>